$tag-palette-1-color: #035e73;
$tag-palette-2-color: #03a696;
$tag-palette-3-color: #f27052;
$tag-palette-4-color: #00093a;
$tag-palette-5-color: #c37905;
$tag-palette-6-color: #667339;
$tag-palette-7-color: #cea600;
$tag-palette-8-color: #ad1a1a;
$tag-palette-9-color: #884199;

:export {
  tagPalette1Color: $tag-palette-1-color;
  tagPalette2Color: $tag-palette-2-color;
  tagPalette3Color: $tag-palette-3-color;
  tagPalette4Color: $tag-palette-4-color;
  tagPalette5Color: $tag-palette-5-color;
  tagPalette6Color: $tag-palette-6-color;
  tagPalette7Color: $tag-palette-7-color;
  tagPalette8Color: $tag-palette-8-color;
  tagPalette9Color: $tag-palette-9-color;

}
